@import 'src/styles/common';

.root {
    @include theme(background-color, mainBg);
    @include theme(box-shadow, boxShadow);
    @include theme(color, text);
    border-bottom: 1px solid #93C5FD;
    position: sticky;
    padding: 19px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background: white;
}

.switcher {
    @include theme(color, text);
  }

.link {
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    padding: 5px;
  }